*.swp
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules
npm-debug.log

.env
config.env
.nfs*

public/deps.js
public/compiled.js
vendor/

public/tilesets/*
!public/tilesets/empty

upload/*
!upload/empty

vendor/closure-library
