<!doctype html>
<html>
  <head>
    <title>Web Map Editor</title>
    <script src="/javascript/modernizr.js"></script>
    <script src="/javascript/knockout-2.1.0.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/bindings.js"></script>
    <script src="/javascript/utils.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/engine/game.js"></script>
    <script src="/engine/load.js"></script>
    <script src="/engine/network.js"></script>
    <script src="/engine/viewport.js"></script>
    <script src="/engine/world.js"></script>
    <script src="/engine/layer.js"></script>
    <script src="/game/editor.js"></script>
    <script src="/game/tilesets-editor.js"></script>
    <script src="/polyfills/animationframe.js"></script>
    <style>
      html, body {
        height: 100%;
        width: 100%;
      }
      html, body, canvas, div {
        margin: 0;
        padding: 0;
      }
      #toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 250px;
        height: 50px;
      }
      #panel {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 250px;
      }
      #editor, #overlay {
        position: absolute;
        top: 50px;
        left: 0;
        bottom: 0;
      }
      #editor {
        background-image: url('./images/trans.png');
        z-index: 10;
      }
      #overlay {
        z-index: 20;
      }
      #tilesets {
        position: absolute;
        top: 0;
        right: 25%;
        width: 50%;
        height: 90%;
        overflow: auto;
        border: 1px solid black;
        z-index: 100;
        background-color: white;
      }
    </style>
  </head>
  <body data-bind="resize: viewport.size">
    <div id="toolbar">
      <p style="width: 375px; display: inline-block;">
        <label><input type="radio" name="mainTool" value="move" data-bind="checked: toolbar.maintool" />Déplacer</label>
        <label><input type="radio" name="mainTool" value="draw" data-bind="checked: toolbar.maintool" />Dessiner</label>
        <label>
          <input type="radio" name="mainTool" value="select" data-bind="checked: toolbar.maintool" />Sélectionner
          <span data-bind="if: selection">
            (<em data-bind="text: '['+selection().x1+', '+selection().y1+'] ['+selection().x2+', '+selection().y2+']'"></em>)
          </span>
        </label>
      </p>
      <p data-bind="with: tilesets.current" style="display: inline-block;">
        <img data-bind="attr: {src: '/tilesets/'+id+'.png', width: viewport.tilesSize, height: viewport.tilesSize}" />
      </p>
      <p style="display: inline-block;">
        <button data-bind="click: tilesets.show.bind(tilesets, true)">Tiles</button>
      </p>
    </div>
    <div data-bind="with: tilesets">
      <div id="tilesets" data-bind="visible: show">
        <div>
          <strong>Ajouter un tileset :</strong>
          <form enctype="multipart/form-data" data-bind="submit: uploadTile" style="display: inline-block;">
          <label>Nom :<input name="name" type="text" /></label>
          <input type="file" name="tileset" />
          <input type="submit" value="Ajouter" />
          </form>
        </div>
        <select data-bind="value: list"></select>
        
            
            
        </form>
        <button data-bind="click: show.bind(tilesets, false)">Fermer</button>
      </div>
    </div>
    <div id="panel">
      <p>Viewport : <input type="text" data-bind="value: viewport.position.x" size="6" />, <input type="text" data-bind="value: viewport.position.y" size="6" /></p>
      <p>Rate : <span class="fps"></span> fps</p>
      <fieldset>
        <legend>Map</legend>
        <select data-bind="value: currentMap, options: mapList, optionsText: 'name', optionsCaption: 'Map...'"></select>
        <button data-bind="click: createMap.bind($data)">Nouvelle</button><br />
        <label data-bind="if: currentMap">Nom : <input type="text" data-bind="value: currentMap().name" /></label>
      </fieldset>
      <div data-bind="if: currentMap">
        <fieldset>
          <legend>Layers</legend>
          <select data-bind="value: currentLayer, options: viewport.world().layers, optionsText: function(layer) { return '['+layer.z+'] '+layer.name(); }"
            size="5" multiple="true" style="width: 120px;"></select>
          <p style="display: inline-block;">
            <button data-bind="click: createLayer.bind($data)">Nouveau</button><br />
            <button data-bind="click: upLayer.bind($data)">Monter</button><br />
            <button data-bind="click: downLayer.bind($data)">Descendre</button><br />
          </p>
            <label data-bind="if: currentLayer">Nom : <input type="text" data-bind="value: currentLayer().name" /></label>
        </fieldset>
      </div>
    </div>
    <canvas id="editor" data-bind="attr: { height: viewport.size().h-50, width: viewport.size().w-250}"></canvas>
    <canvas id="overlay" data-bind="
      move: {coord: viewport.position, active: toolbar.move, step: viewport.tilesSize},
      select: {rect: selection, active: toolbar.select, step: viewport.tilesSize, convert: viewport.pxToCoord.bind(viewport)},
      attr: {height: viewport.size().h-50, width: viewport.size().w-250}"></canvas>
    <script>
      $(function() {
        Game.init([
          // resources
        ], function() {
          // progess
        }, function() {
          // ready
          Game.changeState('Editor');
        });
      });
    </script>
  </body>
</html>
