<!doctype html>
<html>
<head>
<% if(locals.user){ %>
    <script src="/vendor/base.js"></script>
    <script src="/deps.js"></script>
    <script>
      goog.require('GameEngine');
    </script>

    <script src="/socket.io/socket.io.js"></script>
<% } %>
</head>
<body>
<% if(locals.user){ %>
    <!-- On doit faire passer le jeu par l'état splash screen -->

    <p><%= user.fb.name.full %></p>

    <canvas id="canvas" width="800" height="600"></canvas>
    <script type="text/javascript">
      var Game = new GameEngine();
      Game.init('canvas');
    </script>

    <script>
        var socket = io.connect('/');

        socket.on('connect', function (data) {
            var data = {
                id: '<%= user.id %>',
                fbId: '<%= user.fb.id %>',
                fbName: '<%= user.fb.name.full %>'
            };
            socket.emit('player-init', data); 
        });

        socket.on('game-init', function(data){
            console.log(data); 
        });

        socket.on('player-connected', function(data){
            console.log('player-connected');
            console.log(data); 
            Game.playerManager.spawn(data);
        });

        socket.on('player-update', function(data){
            console.log('player-update');
            console.log(data);
        });

    </script>
<% }else { %>
    <h1>Splash Screen / Loading screen</h1>

    <!-- Pour l'instant..... on fera un change state plus tard -->
    <script>
        setTimeout(function(){
            window.location.href = '/login';
        }, 2000);
    </script>

<% } %>

</body>
</html>
